// CSS for the header and menu were adapted from this example:
// https://medium.com/creative-technology-concepts-code/responsive-mobile-dropdown-navigation-using-css-only-7218e4498a99
.header {

	background-color: #121212;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: calc(100% - 40px);
	z-index: 3;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: #121212;
	}

	li a {
		display: block;
		padding: 20px 20px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #1f1f1f;
	}

	.logo {
		display: block;
		float: left;
		padding: 10px 20px;
		font-family: $heading-font;
		font-weight: 400;
		text-shadow: none;
		text-decoration: none;
		color: $heading-color;
	}

	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}

	.menu-icon {

		cursor: pointer;
		display: inline-block;
		float: right;
		padding: 28px 20px;
		position: relative;
		user-select: none;

		.navicon {

			background: #ffffff;
			display: block;
			height: 2px;
			position: relative;
			transition: background .2s ease-out;
			width: 18px;
		}
	}
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

// For display on mobile
@media (max-width: 780px) {

	.header ul {
		height: 100vh;
	}
}

// For display on desktop
@media (min-width: 781px) {

	.header ul {
		height: auto;
	}

	.header li {
		float: left;
	}

	.header li a {
		padding: 20px 30px;
	}

	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}

	.header .menu-icon {
		display: none;
	}
}

// Adjust the title font size to look good on gradually smaller displays
@media screen and (max-width: 374px) {

	.header .logo {
		font-size: 20px;
	}
}

@media screen and (min-width: 375px) and (max-width: 429px) {

	.header .logo {
		font-size: 24px;
	}
}

@media screen and (min-width: 430px) {

	.header .logo {
		font-size: 32px;
	}
}