// Make sure the main content is always displayed below the header
@media screen and (max-width: 374px) {

	main {
		margin-top: 80px;
	}
}

@media screen and (min-width: 375px) and (max-width: 429px) {

	main {
		margin-top: 88px;
	}
}

@media screen and (min-width: 430px) {

	main {
		margin-top: 96px;
	}
}