/node_modules
/sockserve/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode

# Compiled frontend assets
public/css/app.css
public/js/app.js
public/js/.app.js.swp
public/js/app.js.LICENSE.txt
public/js/manifest.js
public/js/vendor.js
public/js/vendor.js.LICENSE.txt
public/mix-manifest.json
public/js/admin
public/css/admin
public/js/adminauth
public/css/adminauth
public/js/pages
public/css/pages
public/js/app
public/css/app
public/*/*.map
public/css/*.css
public/fonts/*
