// Screen sizes
$mobile: "screen and (max-width: 1023px)";
$desktop: "screen and (min-width: 1024px)";

$body-font: 'Inconsolata', monospace;
$heading-font: 'Press Start 2P', sans-serif;
$button-font: 'Roboto', sans-serif;

$white: #ffffff;
$heading-color: #eeeeee;
$primary-color: #c9cfd2;

$darkest-bg: #121212;
$dark-bg: #272727;
$light-bg: #363636;
$lightest-bg: #4a4a4a;
