@import "node_modules/reset-css/reset";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400|Inconsolata:400|Roboto:300,400&display=swap&subset=latin-ext');

// Replace the above import with this one (but I have to figure out why webpack inserts a line break in the middle of the url)
// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400&family=Inconsolata:wght@400;700&family=Roboto:wght@300;400&display=swap&subset=latin-ext');

body {
	min-height: 100vh;
	padding: 20px;
	box-sizing: border-box;
	font-size: 1.15rem;
	line-height: 1.6;
	color: $primary-color;
	background-color: $darkest-bg;
	font-family: $body-font;
}

strong {
	font-weight: bold;
}

h1, h2, h3 {
	padding-bottom: 1rem;
	color: $heading-color;
	font-family: $heading-font;
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

.success {
	color: #00b300;
	background: none;
}

.warning {
	color: #ffff00;
	background: none;
}

.error {
	color: #ff0000;
	background: none;
}

.alert {
	margin: 10px 0 15px 0;
}

input, textarea {

	font-family: $body-font;
	font-size: 1.15rem;

	padding: 8px;
	background-color: $white;
	outline: none;
	margin: 5px 1px 3px 0px;
	border: 1px solid #dddddd;

	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;

	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;

	// Chrome, Firefox, Opera, Safari 10.1+
	&::placeholder {
		color: #000000;
	}

	// Internet Explorer 10-11
	&:-ms-input-placeholder {
		color: #000000;
	}

	// Microsoft Edge
	&::-ms-input-placeholder {
		color: #000000;
	}

	&:focus {
		box-shadow: 0 0 9px #00ffff;
		margin: 5px 1px 3px 0px;
		border: 1px solid #00ffff;
	}
}

button {

	font-family: $button-font;
	font-weight: 400;
	font-size: 1.08rem;

	background: #3d94f6;
	background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: linear-gradient(to bottom, #3d94f6, #1e62d0);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	text-shadow: 1px 1px 20px #000000;

	color: $white;
	padding: 8px 20px 8px 20px;

	border: solid #337fed 0px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;

	&:hover {
		background: #1e62d0;
		text-decoration: none;
	}

	&:active {
		background: #0e52c0;
		text-decoration: none;
	}
}
